/* styles.css */

/* General Body Styles */
body {
    background-image: url("images/home.jpg");
    background-size: auto; 
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    border-radius: 20px;
    overflow: hidden;
    background-color: #CAFFBF;
    font-family: 'Arial', sans-serif;
    margin: 0px;
    padding: 0px;
}

/* Navbar Styles */
.navbar {
    background-color: #2F6755;
    padding: 15px 20px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin-right: 20px; 
    font-size: 18px;
}

.navbar a:hover {
    color: black;
}

.navbar a.active {
    color: black;
}

/* Container Styles */
.container {
    text-align: center;
    color: #2F6755;
    padding-top: 80px; 
}

/* Button Container */
.btn-container {
    margin-top: 210px;
    text-align: center;
}

/* Button Styling */
.btn-custom {
    background-color: #419E98;
    color: black;
    padding: 15px 25px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.btn-custom:hover {
    background-color: #007872;
    color: white;
}

/* Footer */
footer {
    background-color: #2F6755;
    color: white;
    text-align: center;
    padding: 2px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
